apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-list
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-list
  template:
    metadata:
      labels:
        app: todo-list
    spec:
      containers:
        - name: todo-list
          image: shihab24/todo-list:{{ .Values.imageTag }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8000